# Virtual Environments
venv/
venv_ocr/
venv_fl/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables
.env

# Database
*.sqlite3

# Docker
*.env

# Uploaded documents
backend/storage/documents/*

create_table.py